/* MAIN STAR */
.container{
    background-color:#FFFFFF;
}
/* -----------
header start 
------------- */
nav >ul{
    display: flex;
}
nav li{
    list-style: none;
     margin-right: 10px;
     padding:0% 10px;
}
nav li:hover{
    background-color: lightgray ;
    border-radius: 10px;
}
.li-right{
    float: right;
}

/* --------------
COPA AMERICA
---------------- */
.copa-america{
    display: flex;
    width: 1400px;
    height:677px ;
    background-color: blue;
    justify-content: center;

}
.copa-daties{
     font-family: 'Poppins', sans-serif;
     color: #FFFFFF;
     font-weight: 700px;


}
.copa-america h1{
    font-family: 'Poppins', sans-serif;
    margin-top:  207px;
    margin-left: 165px;
    font-size: 50px;
}
.copa-daties p{
    width: 130px;
    height: 35px;   
    font-size: 16px;
    margin-left: 100px;
    margin-bottom:120px ;
    /* margin-right: 30px; */
    background-color: #E02C6D;
    padding: 10px ;
    text-align: center;
}
.fas{
    margin:10px;
}
.copa-america img{
    width: 556px;
   height:438px ;
   margin: 150px;
}
/*-------------------
 2nd section Top .player-banner
 ------------------------------ */
.players{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-column-gap:5px; */
    justify-content: center;
    align-items: center;
     /* height: 430px;  */
     /* width: 1050px; */
    padding: 20px ;
    /* margin: 10px; */
}
.player{
    width: 330px;
    height: 474px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 2px 4px 8px ;
}
.player .player-banner img{
    width: 100%;
}
.player-detail{
    padding: 10px;
}
.player-name{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    
}
.player-info{
    text-align: justify;
    color: #6C6C6C;
    
    
}
/* -----
bours part 
-------- */

h1{
    font-size: 30px;
    font-weight: 700;
}


/* ---------------
    footer style 
------------------ */
.footer-info{
    text-align: center;
}
.footer-info img{
    height: 110px;
}
.social-icon{
    margin: 20px 0px;
    border-radius: 10px;
    
}
.fa-instagram .fa-globe .fa-twitter-square .fa-youtube{
    margin: 10px 10px;
    padding: 10px;
    border-radius: 5px;
    grid-column-gap: 14px;
    background-color: #969BAB;
}
/*----------------------
     Media Querices 
----------------------*/
-
 /* ------------
    MObile Devices 
 --------------*/
 @media only screen and ( max-width:688px) {
     .container{
        /* width: 100%; */
     }
     .copa-america .players{
         grid-template-columns: repeat(1, 1fr);
     }
     .copa-daties{
         flex-direction: column;
     }
 }
